/******************************** 
/* BELOW 1440px (Smaller Computer) 
/********************************/

@media (max-width: 90em) {
  body {
    overflow-x: hidden;
  }

  .section--hourly {
    padding: 4.8rem;
  }

  .summary {
    width: 90%;
  }

  .header {
    font-size: 2rem;
  }

  .currentTime {
    font-size: 3.2rem;
  }

  .summary-text-box {
    font-size: 2.2rem;
  }

  .container--grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .short-information p {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .long-information {
    font-size: 2.2rem;
  }

  .long-information p {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .summary {
    grid-template-columns: 1fr;
  }

  .map-container {
    grid-row: 1/2;
  }

  .heading-secondary {
    font-size: 3rem;
  }
}

/********************************/
/* BELOW 1200px (Landscape Tablet) 
/********************************/

@media (max-width: 75em) {
  .section--hourly {
    padding: 2.4rem;
  }

  .short-information {
    font-size: 2.2rem;
  }

  .short-information p {
    font-size: 1.4rem;
  }

  .container--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-result {
    font-size: 1.6rem;
  }

  .alert {
    font-size: 2rem;
  }
}

/* 944px */
@media (max-width: 59em) {
  .section--daily {
    height: 100rem;
  }

  .daily-card {
    position: absolute;
    max-width: 60rem;
    margin: 0 auto;
    top: 0%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .container--grid {
    position: relative;
    height: 70rem;
    overflow: hidden;
  }

  .daily {
    padding: 0;
  }

  .hide-btn {
    display: block;
  }

  .pagination-icon {
    padding: 0;
    font-size: 1rem;
  }

  .search-result {
    font-size: 1.4rem;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  .section--daily {
    padding: 2.4rem;
  }

  .summary-text-box {
    grid-template-columns: 1fr;
  }

  .hourly--right {
    transform: translateX(-10%);
  }

  .hourly--left {
    transform: translateX(10%);
  }
}

@media (max-width: 34em) {
  .section--daily {
    padding: 2.4rem;
  }

  .hourly--right {
    transform: translateX(-20%);
  }

  .hourly--left {
    transform: translateX(20%);
  }

  .pagination-icon {
    font-size: 0.8rem;
  }

  .medium-icon {
    padding: 0;
    font-size: 1rem;
  }

  .long-information p {
    font-size: 1.4rem;
  }

  .short-information {
    font-size: 1rem;
  }
}
