@media (max-width: 45em) {
  html {
    font-size: 20%;
  }

  .intro {
    height: 100%;
  }

  .summary {
    display: grid;
    grid-template-columns: 1fr;
  }

  .slide-up {
    transform: translateY(55%);
  }

  .map-container {
    width: 80%;
  }

  .summary-text-box {
    width: 90%;
    justify-self: center;
  }

  .section--hourly {
    padding: 2rem;
  }
}
