.intro {
  background-image: linear-gradient(
      to right bottom,
      rgba(73, 140, 138, 0.35),
      rgba(73, 140, 138, 0.993)
    ),
    url("../img/cloud.jpg");
}

/******************************* HEADER / NAVIGATION / LOGO *******************************************/

.logo:link,
.logo:visited {
  color: #e67e22;
  text-decoration: none;
  transition: all 0.3s;
}

.logo:hover,
.logo:active {
  text-decoration: underline;
  text-decoration-color: #e67e22;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 3.6rem;
}

.nav-link:link,
.nav-link:visited {
  color: #e67e22;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
  text-decoration-color: #e67e22;
}

/******************************* SECTION SEARCH *******************************************/

.cityName {
  color: #e67e22;
}

.section--search {
  padding: 4.8rem 0 9.6rem 0;
  position: relative;
}

.container--search {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  width: 100%;
  padding: 1.5rem 2.5rem;
  width: 75%;
}

.search-input {
  width: 100%;
  border: none;
  border-radius: 20px;
  font-size: 2.4rem;
  font-family: inherit;
  text-align: center;
  padding: 2.5rem 2.5rem;
  margin-bottom: 4.6rem;
  transition: all 0.3s;
}

.search-input:focus {
  outline: none;
  transform: translateY(-1rem);
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.733);
}

.results {
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  transform: translateY(20%);
  transition: all 0.8s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateX(-100%);
}

.search-result {
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  width: 50%;
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
  margin-bottom: 1.2rem;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transition: all 0.3s;
}

.search-result:last-child {
  margin-bottom: 3.6rem;
}

.search-result:hover {
  background-color: #e67e22;
  transform: translateY(-0.5rem);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
}

/******************************* SUMMARY *******************************************/

.information {
  width: 100%;
  height: 100%;
  transition: all 0.8s;
}

.slide-up {
  transform: translateY(100%);
  transition: all 1s;
}

.currentTime {
  font-weight: 800;
  font-size: 4.8rem;
  text-align: center;
}

.current-status-icon {
  width: 6.2em;
  height: 6.2em;
  fill: currentColor;
  padding: 0 2.4rem 0 2.4rem;
}

.wind-direction-icon {
  width: 4.8em;
  height: 4.8em;
  fill: currentColor;
  padding: 0 2.4rem 2.4rem 2.4rem;
}

.summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  margin-top: 9.6rem;
  height: 50%;
  width: 100%;
}

.summary-text-box {
  gap: 4.4rem;
  font-size: 2.5rem;
  text-overflow: ellipsis;
  background-color: #f9f5e7;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  padding: 4.8rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(73, 140, 138, 0.35),
      rgba(73, 140, 138, 0.993)
    ),
    url("../img/city.jpg");
  min-height: 50rem;
}

.summary-text {
  color: #f8f0f0;
  justify-self: center;
  align-self: center;
  font-weight: 800;
  font-size: 3.6rem;
  padding: 2.4rem;
}

.summary-card {
  background-color: #e0cdb5a8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
}

.map-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  min-height: 50rem;
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

/******************************* END OF SECTION SEARCH *******************************************/

/******************************* SECTION HOURLY *******************************************/
.section--hourly {
  padding: 9.6rem;
  background-color: #e5e7eb;
}

.container--hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.short-information {
  font-size: 2.4rem;
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-radius: 20px;
  border-bottom: 5px solid rgba(73, 140, 138, 0.993);
}

.icon-set {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.expand-information {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
}

.icon-expand-btn {
  border: none;
  outline: none;
  font-size: 2.4rem;
  background-color: transparent;
  transition: all 0.9s;
  border-radius: 20px;
}

.small-icon {
  display: block;
  width: 3.2em;
  height: 3.2em;
  padding: 0 2.4rem 0 2.4rem;
}

.medium-icon {
  display: block;
  width: 3.6em;
  height: 3.6em;
  padding: 0 2.4rem 0 2.4rem;
}

.long-information {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 2.4rem;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  transition: all 0.3s;
  height: 0;
}

.hidden-info {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
